@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?qke4wg');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?qke4wg#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?qke4wg') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?qke4wg') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?qke4wg##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_01 {
  &:before {
    content: $icon-icon_01; 
  }
}
.icon-icon_02 {
  &:before {
    content: $icon-icon_02;     
    color: #c22d15;
  }
}
.icon-icon_03 .path1 {
  &:before {
    content: $icon-icon_03-path1;  
    color: rgb(192, 49, 27);
  }
}
.icon-icon_03 .path2 {
  &:before {
    content: $icon-icon_03-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path3 {
  &:before {
    content: $icon-icon_03-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path4 {
  &:before {
    content: $icon-icon_03-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path5 {
  &:before {
    content: $icon-icon_03-path5;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path6 {
  &:before {
    content: $icon-icon_03-path6;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path7 {
  &:before {
    content: $icon-icon_03-path7;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path8 {
  &:before {
    content: $icon-icon_03-path8;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path9 {
  &:before {
    content: $icon-icon_03-path9;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path10 {
  &:before {
    content: $icon-icon_03-path10;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path11 {
  &:before {
    content: $icon-icon_03-path11;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path12 {
  &:before {
    content: $icon-icon_03-path12;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path13 {
  &:before {
    content: $icon-icon_03-path13;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path14 {
  &:before {
    content: $icon-icon_03-path14;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path15 {
  &:before {
    content: $icon-icon_03-path15;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path16 {
  &:before {
    content: $icon-icon_03-path16;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path17 {
  &:before {
    content: $icon-icon_03-path17;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path18 {
  &:before {
    content: $icon-icon_03-path18;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path19 {
  &:before {
    content: $icon-icon_03-path19;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path20 {
  &:before {
    content: $icon-icon_03-path20;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path21 {
  &:before {
    content: $icon-icon_03-path21;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path22 {
  &:before {
    content: $icon-icon_03-path22;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_03 .path23 {
  &:before {
    content: $icon-icon_03-path23;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-icon_04 {
  &:before {
    content: $icon-icon_04; 
  }
}
.icon-icon_05 {
  &:before {
    content: $icon-icon_05; 
  }
}
.icon-icon_06 {
  &:before {
    content: $icon-icon_06; 
  }
}
.icon-icon_07 {
  &:before {
    content: $icon-icon_07; 
  }
}
.icon-icon_08 {
  &:before {
    content: $icon-icon_08; 
  }
}
.icon-icon_09 {
  &:before {
    content: $icon-icon_09; 
  }
}
.icon-icon_10 {
  &:before {
    content: $icon-icon_10; 
  }
}
.icon-icon_11 {
  &:before {
    content: $icon-icon_11; 
  }
}
.icon-icon_12 {
  &:before {
    content: $icon-icon_12; 
  }
}
.icon-icon_13 {
  &:before {
    content: $icon-icon_13; 
  }
}
.icon-icon_14 {
  &:before {
    content: $icon-icon_14; 
  }
}
.icon-icon_15 {
  &:before {
    content: $icon-icon_15; 
  }
}
.icon-icon_16 {
  &:before {
    content: $icon-icon_16; 
  }
}
.icon-icon_17 {
  &:before {
    content: $icon-icon_17; 
  }
}
.icon-icon_18 {
  &:before {
    content: $icon-icon_18; 
  }
}
.icon-icon_19 {
  &:before {
    content: $icon-icon_19; 
  }
}
.icon-icon_20 {
  &:before {
    content: $icon-icon_20; 
  }
}
.icon-icon_21 {
  &:before {
    content: $icon-icon_21; 
  }
}
.icon-icon_22 {
  &:before {
    content: $icon-icon_22; 
  }
}
.icon-icon_23 {
  &:before {
    content: $icon-icon_23; 
  }
}
.icon-icon_24 {
  &:before {
    content: $icon-icon_24; 
  }
}
.icon-icon_25 {
  &:before {
    content: $icon-icon_25; 
  }
}
.icon-icon_26 {
  &:before {
    content: $icon-icon_26; 
  }
}
.icon-icon_27 {
  &:before {
    content: $icon-icon_27; 
  }
}

