.bigFarms__map-container {
    width: 100%;

    .bigFarms__info-container {
        font-family: $font-family-F;
        position: relative;
        height: 300px;
        width: 100%;

        .bigFarms__popup {
            opacity: 0;
            transition: .3s linear all;
            padding: 20px;
            @include position(absolute, 0, 0);


            .bigFarms__popup-header {
                font-weight: $weight-bold;
                margin-bottom: 20px;
                font-size: 20px
            }
            @media (min-width:1000px) {
                .bigFarms__popup-header{
                   font-size: 25px
                }
            }

            @media (min-width:1400px) {
                .bigFarms__popup-header{
                   font-size: 26px
                }
            }

            .bigFarms__popup-text-container {
                @include flexParent(column, nowrap, flex-start, flex-start);

                .bigFarms__popup-text-element {
                    @include flexParent(row, wrap, flex-start, center);
                    margin-bottom: 20px;

                    .bigFarms__popup-img-container {
                        max-width: 30px;
                        min-width: 30px;
                        margin-right: 30px;

                        // .bigFarms__popup-img {}
                    }

                    @media (min-width:1400px) {
                        .bigFarms__popup-img-container {
                            max-width: 32px;
                        min-width: 32px;
                        }
                    }

                    .bigFarms__popup-text {
                        font-size: 15px;
                    }

                    @media (min-width:770px) {
                        .bigFarms__popup-text {
                            font-size: 12px;
                        }
                    }
                    @media (min-width:1000px) {
                        .bigFarms__popup-text {
                            font-size: 15px;
                        }
                    }

                    @media (min-width:1400px) {
                        .bigFarms__popup-text {
                            font-size: 17px;
                        }
                    }

                    @media (min-width:1600px) {
                        .bigFarms__popup-text {
                            font-size: 20px;
                        }
                    }

                }
                @media (min-width:770px) {
                    .bigFarms__popup-text-element{
                      margin-bottom: 20px;
                    }
                }

                .bigFarms__popup-text-element:last-child .bigFarms__popup-text:last-child {
                    margin-left: 60px;
                    width: 100%;
                }
            }

        }
        @media (min-width:770px) {
            .bigFarms__popup{
               padding-left: 50px;
            }
        }

        .bigFarms__popup.active {
            opacity: 1;
        }
    }
   
}

@media (min-width:770px) {
    .bigFarms__map-container {
        @include flexParent(row, nowrap, space-between, center);
        max-width: none;
        background-image: url("/public/images/contactAboveBg.png");
        background-position: right;
        background-size:400px ;
        background-repeat: no-repeat;

    }
}

@media (min-width:1000px) {
    .bigFarms__map-container {
        background-size:500px ;
    }
}

@media (min-width:1200px) {
    .bigFarms__map-container {
        background-size:600px ;
    }
}

@media (min-width:1400px) {
    .bigFarms__map-container {
        background-size:700px ;
    }
}


.bigFarms__form {
    padding: 20px;
    @include flexParent(column,nowrap,center,center);
    margin-top: 50px;

    .bigFarms__form-header {
        font-family: $font-family-F;
        font-size: 20px;
        font-weight: $weight-bold;
        margin-bottom: 20px;
        width: 100%;
        max-width: 627px;
        

    }

    @media (min-width:550px) {
        .bigFarms__form-header {
            font-size: 25px;
        }
    }

    @media (min-width:1000px) {
        .bigFarms__form-header {
            font-size: 26px;
        }
    }

    .BigFarms__form-input-container--district {
        display: none;
        width: 100%;
    max-width: 627px;
    }
    .BigFarms__form-input-container--district.active{
        display: block;
    }

    .BigFarms__form-input-container {
        width: 100%;
        margin: 10px 0;
max-width: 627px;


        .bigFarms__form-textarea {
            width: 100%;
            border: 1px solid $border-color;
            font-family: $font-family-F;
            
            height: 100px;
            padding: 10px 20px;
            
            
        }

        @media (min-width:550px) {
            .bigFarms__form-textarea {
                font-size: 15px;
            }
        }
        
        @media (min-width:1200px) {
            .bigFarms__form-textarea {
                font-size: 20px;
                height: 95px;
            }
        }

        .bigFarms__form-input {
            width: 100%;
            height: 40px;
            padding: 10px 20px;
            border: 1px solid $border-color;
            font-family: $font-family-F;
        }

        @media (min-width:550px) {
            .bigFarms__form-input {
                font-size: 15px;
            }
        }

        @media (min-width:1200px) {
            .bigFarms__form-input {
                font-size: 20px;
                height:60px 
            }
        }

    }
   

    .bigFarms__regulations-container {
        @include flexParent(row, nowrap, flex-start, flex-start);
        margin-bottom: 20px;
        max-width: 627px;
            // padding-left: 10px;

        .bigFarms__regulations-input {
            position: relative;
            background-color: white;
            appearance: none;
            border: 1px solid $border-color;
            min-height: 20px;
            min-width: 20px;
            cursor: pointer;
            transition: .3s;
            padding: 2px;

        }
        @media (min-width:1200px) {
            .bigFarms__regulations-input{
                min-height: 25px;
                min-width: 25px;
            }
        }

        .bigFarms__regulations-input::after {
            content: "";
            @include positionCenter();
            opacity: 0;
            background-color: $main-color;
            width: 70%;
            height: 70%;
            transition: .3s;

        }

        .bigFarms__regulations-input:checked::after {
            opacity: 1;
        }

        .bigFarms__regulations-label {
            padding: 0;
            margin-left: 10px;
            font-size: 12px;
            font-family: $font-family-F;
            font-weight: $weight-medium;
            line-height: 1.5;
            

        }
        
        @media (min-width:1200px) {
            .bigFarms__regulations-label {
                font-size: 14px;
                line-height: 1.7;
            }
        }
    }

    .bigFarms__form-button-container {
        margin: 0 0 0 auto;
        width: 150px;
        height: 45px;
        max-width: 627px;
        

        .agrii__button {
            background-color: $main-color;
        }

    }

    .agrii__button-container::after {
        border: $main-color 1px solid;
    }
}