.bigFarms__map-container {
    width: 100%;

    .bigFarms__info-container {
        font-family: $font-family-F;
        position: relative;
        height: 300px;
        width: 100%;

        .bigFarms__popup {
            opacity: 0;
            transition: .3s linear all;
            padding: 20px;
            @include position(absolute, 0, 0);


            .bigFarms__popup-header {
                font-weight: $weight-bold;
                margin-bottom: 20px;
                font-size: 20px
            }

            .bigFarms__popup-text-container {
                @include flexParent(column, nowrap, flex-start, flex-start);

                .bigFarms__popup-text-element {
                    @include flexParent(row, wrap, flex-start, center);
                    margin-bottom: 40px;

                    .bigFarms__popup-img-container {
                        max-width: 30px;
                        min-width: 30px;
                        margin-right: 30px;

                        // .bigFarms__popup-img {}
                    }

                    .bigFarms__popup-text {
                        font-size: 15px;
                    }

                    @media (min-width:770px) {
                        .bigFarms__popup-text {
                            font-size: 12px;
                        }
                    }

                }

                .bigFarms__popup-text-element:last-child .bigFarms__popup-text:last-child {
                    margin-left: 60px;
                    width: 100%;
                }
            }

        }

        .bigFarms__popup.active {
            opacity: 1;
        }
    }
}

@media (min-width:770px) {
    .bigFarms__map-container {
        @include flexParent(row, nowrap, space-between, center);
        max-width: none;
        background-image: url("/public/images/contactAboveBg.svg");
        background-position: center;
        background-size: cover;

    }
}


.bigFarms__form {
    padding: 20px;

    .bigFarms__form-header {
        font-family: $font-family-F;
        font-size: 20px;
        font-weight: $weight-bold;
        margin-bottom: 20px;

    }

    @media (min-width:550px) {
        .bigFarms__form-header {
            font-size: 25px;
        }
    }

    .BigFarms__form-input-container--district {
        display: none;
    }
    .BigFarms__form-input-container--district.active{
        display: block;
    }

    .BigFarms__form-input-container {
        width: 100%;
        margin: 10px 0;

        .bigFarms__form-textarea {
            width: 100%;
            border: 1px solid $border-color;
            font-family: $font-family-F;
            padding: 10px 10px;
            height: 100px;
        }

        @media (min-width:550px) {
            .bigFarms__form-textarea {
                font-size: 15px;
            }
        }

        .bigFarms__form-input {
            width: 100%;
            height: 40px;
            padding: 0 10px;
            border: 1px solid $border-color;
            font-family: $font-family-F;
        }

        @media (min-width:550px) {
            .bigFarms__form-input {
                font-size: 15px
            }
        }

    }

    .bigFarms__regulations-container {
        @include flexParent(row, nowrap, flex-start, flex-start);
        margin-bottom: 20px;

        .bigFarms__regulations-input {
            position: relative;
            background-color: white;
            appearance: none;
            border: 1px solid $border-color;
            min-height: 20px;
            min-width: 20px;
            cursor: pointer;
            transition: .3s;
            padding: 2px;

        }

        .bigFarms__regulations-input::after {
            content: "";
            @include positionCenter();
            opacity: 0;
            background-color: $main-color;
            width: 70%;
            height: 70%;
            transition: .3s;

        }

        .bigFarms__regulations-input:checked::after {
            opacity: 1;
        }

        .bigFarms__regulations-label {
            padding: 0;
            margin-left: 10px;
            font-size: 12px;
            font-family: $font-family-F;
            font-weight: $weight-medium;
            line-height: 1.5;

        }
    }

    .bigFarms__form-button-container {
        margin: 0 0 0 auto;
        width: 150px;

        .agrii__button {
            background-color: $main-color;
        }

    }

    .agrii__button-container::after {
        display: block;
        content: "";
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border: $main-color 1px solid;
        transform: translate(5%, -90%);
    }
}