.footer {
    background-color: #3d3d3d;
    color: white;
    margin-top: 20px;
    padding: 30px 20px;

    .footer__container {
        @include flexParent(column, nowrap, center, center);

        .footer__info {
            order: 2;
            font-family: $font-family-F;
            width: 100%;

            .footer__header-container {
                @include flexParent(row, nowrap, space-between, center);
                border-top: 1px solid #5d5e5e;
                width: 100%;
                padding: 15px 0;
                cursor: pointer;

                .footer__header {}

                .icon-icon_10 {
                    font-size: 10px;
                }
            }

            .footer__list {
                // display: none;
                margin: 10px 0 20px 0;

                .footer__list-element {
                    padding: 10px 0;
                    font-size: 14px;

                    .footer__list-element-link {
                        font-weight: $weight-medium;
                        color: white;
                        text-decoration: none;
                        transition: .3s;

                    }

                    .footer__list-element-link:hover {
                        color: $main-color;
                    }
                }

            }
        }

        .footer__info.active {}

        .footer__contact {
            order: 3;
            font-family: $font-family-F;
            width: 100%;

            .footer__header-container {
                @include flexParent(row, nowrap, space-between, center);
                border-top: 1px solid #5d5e5e;
                width: 100%;
                padding: 15px 0;

                .footer__header {}

                .icon-icon_10 {
                    font-size: 10px;
                }
            }

            .footer__contact-conatiner {


                .footer__phone {
                    margin: 20px 0 10px 0;
                    @include flexParent(row,nowrap,flex-start,center);

                    .icon-icon_06 {
                        color: $main-color;
                        font-size: 30px;
                    }

                    .footer__phone-number {
                        font-size: 20px;
                        margin-left: 10px;
                    }
                }

                .footer__contact-info {
                    display: block;
                    margin: 20px 0 10px 0;
                }

                .footer__contact-email {
                    font-size: 20px;
                    margin: 20px 0;
                }

                .footer__button {
                    @include flexParent(row, nowrap, center, center);
                    text-decoration: none;
                    border: 1px white solid;
                    margin: 20px 0 20px 0;
                    width: 80%;
                    height: 50px;
                     .footer__button-text {
                        color: white;
                        margin-right: 10px;
                        
                    }

                    .icon-icon_05 {
                        color: white;
                        font-size: 25px;
                    }
                }
            }

        }

        .footer__newsletter {
            order: 1;
            font-family: $font-family-F;

            .footer__newsletter-header {
                margin-bottom: 15px;
                font-size: 30px;
            }

            .footer__newsletter-text {
                display: block;
                margin-bottom: 30px;

            }

            .footer__newsletter-input-container {

                @include flexParent(row, nowrap, flex-end, center);
                height: 40px;
                margin-bottom: 20px;

                .footer__newsletter-input {
                    background-color: #3d3d3d;
                    color: #FFFFFF;
                    font-family: $font-family-F;
                    font-weight: light;
                    border: none;
                    height: 100%;
                    border-bottom: 1px white solid;
                    flex-grow: 1;

                }

                .footer__newsletter-button {
                    border: none;
                    color: black;
                    font-family: $font-family-F;
                    font-weight: $weight-bold;
                    height: 100%;
                    width: 40%;
                    background-color: $main-color;
                }
            }

            .footer__newsletter-agree-container {
                @include flexParent(row, nowrap, flex-start, flex-start);
                margin-bottom: 20px;

                .footer__newsletter-agree-input-container {
                    height: 100%;

                    .footer__newsletter-agree-input {
                        position: relative;
                        background-color: #3d3d3d;
                        appearance: none;
                        border: 1px solid #5d5e5e;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        transition: .3s;
                        padding: 2px;


                    }

                    .footer__newsletter-agree-input::after {
                        content: "";
                        @include positionCenter();
                        opacity: 0;
                        background-color: $main-color;
                        width: 60%;
                        height: 60%;
                        transition: .3s;

                    }

                    .footer__newsletter-agree-input::after.active {
                        opacity: 1;
                    }
                }


                .footer__newsletter-label {
                    font-size: 10px;
                    margin-left: 10px;
                    line-height: 1.8;
                    cursor: pointer;
                }
            }

            .footer__newsletter-social {
                @include flexParent(row, nowrap, flex-start, flex-start);
                margin: 15px 0;

                .footer__newsletter-text {
                    margin-right: 20px;
                    font-size: 20px;
                }

                .icon-icon_07 {
                    margin-right: 20px;
                    font-size: 20px;
                }

                .icon-icon_08 {
                    margin-right: 20px;
                    font-size: 20px;
                }

                .icon-icon_09 {
                    margin-right: 20px;
                    font-size: 20px;
                }
            }
        }
    }
}