.header {
    width: 100vw;
    position: fixed;

    .hamburger__popup {
        @include position(fixed,-100vw, 73px);
        height: 100vh;
        min-width: 200px;
        width: calc(100vw - 50px);
        background-color: rgb(255, 255, 255);
        border-right: 1px solid #dddee2;
        opacity: 0;
        transition: .5s;

        .hamburger__popup-list {

            // list-style: none;
            .hamburger__popup-element {
                @include flexParent(row, nowrap, flex-start, center);
                width: 100%;
                padding: 15px;
                border-bottom: 1px solid #dddee2;
                cursor: pointer;


                .hamburger__popup-element-text {
                    border-right: 1px solid #dddee2;
                    width: 100%;
                    font-family: $font-family-F;
                    font-weight: 400;
                    font-size: 15px;
                }

                .hamburger__popup-element-icon {
                    padding: 0 0 0 10px;
                    @include flexParent(row, nowrap, center, center);
                    // .icon-icon_05{



                    // }
                }
            }
        }
    }
    .hamburger__popup.active{
        @include position(fixed, 0, 73px);
        opacity:1;
    }

    .nav {
        @include flexParent(row, nowrap, center, center);
        width: 100%;
        padding: 10px;
        position: relative;
        height: 72px;


        .hamburger {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            cursor: pointer;

            .hamburger__container {
                @include positionCenter();
                width: 30%;
                height: 30%;

                .hamburger__element {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: black;
                    transition: top .1s linear
                }

                .hamburger__element:nth-child(1) {
                    top: 10%;
                }

                .hamburger__element:nth-child(2) {
                    top: 50%;

                }

                .hamburger__element:nth-child(3) {
                    top: 90%;
                }
            }

        }

        .hamburger.active {
            .hamburger__element:nth-child(1) {
                @include positionCenter();
                transform: translate(-50%, -50%) rotate(-45deg);


            }

            .hamburger__element:nth-child(2) {
                opacity: 0;
            }

            .hamburger__element:nth-child(3) {
                @include positionCenter();
                transform: translate(-50%, -50%) rotate(45deg);

            }
        }

        .logo {
            .logo__link {
                display: block;
                width: 125px;
                // .logo__img {

                // }
            }
        }

        .menu {
            display: none;

            .menu__list {
                .menu__list-element {
                    .menu__list-element-text {}

                    .icon-icon_04 {}
                }
            }
        }

        .search {
            display: none;

            .searchMob__input {}

            .search__icon-container {
                .icon-icon_01 {}
            }
        }

        .basket {
            display: none;

            .basket__link {
                .basket__icon-container {
                    .icon-icon_02 {}
                }

                .basket__text-container {
                    .basket__text {}

                    .basket__icon-container {
                        .icon-icon_04--rotate {}
                    }
                }
            }
        }

        .secound-logo {
            display: none;

            .secound-logo__link {
                .secound-logo__img {}
            }
        }

    }

    .searchMob {
        @include flexParent(row, nowrap, center, center);
        background-color: #f3f3f3;
        height: 57px;
        width: 100%;
        padding: 5px;
        border-top: 1px solid #dddee2;

        .searchMob__input {
            width: 100%;
            height: 100%;
            padding: 0 10px 0 15px;
            font-family: $font-family-F;
            border: none;
            font-weight: 400;
            color: black;
            border-bottom: 1px solid #dddee2;



        }

        .searchMob__icon-container {
            height: 45px;
            width: 45px;
            min-width: 45px;
            min-height: 45px;
            background-color: $main-color;
            cursor: pointer;

            .icon-icon_01 {
                color: white;
                font-size: 20px;

            }
        }
    }
}