.bigFarms__map-container {
    
    .bigFarms__map {
        cursor: pointer;
        width: 90%;
        max-width: 614px;

        .mapSouth {
            

            rect {
                fill: #dddddd;
                transition: .5s all;
                stroke: rgb(255, 255, 255) ;
                stroke-width: 2px;
            }
        }

        .mapSouth:hover rect {
            fill: #c2c2c2;
        }

        .mapEast {
            rect {
                fill: #c2c2c2;
                transition: .5s all;
                stroke: rgb(255, 255, 255) ;
                stroke-width: 2px;
            }
        }

        .mapEast:hover rect {
            fill: #a5a1a1;
        }

        .mapNorth {
            rect {
                fill: #8bd1e2;
                transition: .5s all;
                stroke: rgb(255, 255, 255) ;
                stroke-width: 2px;
            }
        }

        .mapNorth:hover rect {
            fill: #70c7dd;
        }
    }
}

.bigFarms__map--small{
    path{
        transition: .5s;
    }
    path:hover{
        fill: $main-color;
    }
    path.active{
        fill: $main-color;
    }
}

.svg__text {
    text-transform: uppercase;
    fill: white;
    font-size: 27px;
    font-weight: $weight-bold;
    text-shadow: 0 0 6px black;
    font-family: $font-family-F;
}

@media (min-width:770px) {
    .bigFarms__map{
        max-width: 50%;
       
    }
}

