@mixin font-face($name, $file, $weight, $format) {
    @font-face {
        font-family: "#{$name}";
        font-weight: #{$weight};
        // src: url("../../public/fonts/#{$file}.#{$format}");
        src: url("../fonts/#{$file}.#{$format}");

    }
}