.wrapper{
    width: 100%;
    height: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 2.5vw 0 2.5vw;
}

.agrii__button{
    .agrii__button-text{

    }
    .icon-icon_05{
        
    }
}