.header {
    width: 100vw;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: white;
}

@media (min-width:770px) {
    .header::after {
        content: "";
        display: block;
        height: 13px;
        width: 100vw;
        background-color: $main-color;
        @include position(absolute, 0, 100%);
    }

}

.main,.banner,.main-contact__container {
    background-color: rgb(255, 255, 255);
    margin-top: 129px;
}
@media (min-width:770px) {
    .main-contact__container{
        margin-top: 0;
    }
}

@media (min-width:770px) {
    .main,.banner {
        margin-top: 76px;
    }
}

@media (min-width:1000px) {
    .main,.banner {
        margin-top: 83px;
    }
}

@media (min-width:1200px) {
    .main,.banner {
        margin-top: 99px;
    }
}

@media (min-width:1700px) {
    .main,.banner {
        margin-top: 101px;
    }
}



.footer {
    background-color: #3d3d3d;
    color: white;
    margin-top: 20px;
    padding: 30px 0;
}

.main-contact{
    @include flexParent(row,nowrap,flex-start,flex-start);
    margin-top:30px;
}