$font-family-M:"Memphis","Arial",sans-serif;
$font-family-F:"FuturalLTPro","Arial",sans-serif;
$main-color:#8DD0E0;
$main-color-lighter: #8BD1E2;
$weight-light: 200;
$weight-bold: 700;
$weight-medium: 400;
$weight-exlight: 100;



