$icomoon-font-family: "paulus" !default;
$icomoon-font-path: "../fonts" !default;

$icon-icon_01: "\e900";
$icon-icon_02: "\e901";
$icon-icon_03-path1: "\e902";
$icon-icon_03-path2: "\e903";
$icon-icon_03-path3: "\e904";
$icon-icon_03-path4: "\e905";
$icon-icon_03-path5: "\e906";
$icon-icon_03-path6: "\e907";
$icon-icon_03-path7: "\e908";
$icon-icon_03-path8: "\e909";
$icon-icon_03-path9: "\e90a";
$icon-icon_03-path10: "\e90b";
$icon-icon_03-path11: "\e90c";
$icon-icon_03-path12: "\e90d";
$icon-icon_03-path13: "\e90e";
$icon-icon_03-path14: "\e90f";
$icon-icon_03-path15: "\e910";
$icon-icon_03-path16: "\e911";
$icon-icon_03-path17: "\e912";
$icon-icon_03-path18: "\e913";
$icon-icon_03-path19: "\e914";
$icon-icon_03-path20: "\e915";
$icon-icon_03-path21: "\e916";
$icon-icon_03-path22: "\e917";
$icon-icon_03-path23: "\e918";
$icon-icon_04: "\e919";
$icon-icon_05: "\e91a";
$icon-icon_06: "\e91b";
$icon-icon_07: "\e91c";
$icon-icon_08: "\e91d";
$icon-icon_09: "\e91e";
$icon-icon_10: "\e91f";
$icon-icon_11: "\e920";
$icon-icon_12: "\e921";
$icon-icon_13: "\e922";
$icon-icon_14: "\e923";
$icon-icon_15: "\e924";
$icon-icon_16: "\e925";
$icon-icon_17: "\e926";
$icon-icon_18: "\e927";
$icon-icon_19: "\e928";
$icon-icon_20: "\e929";
$icon-icon_21: "\e92a";
$icon-icon_22: "\e92b";
$icon-icon_23: "\e92c";
$icon-icon_24: "\e92d";
$icon-icon_25: "\e92e";
$icon-icon_26: "\e92f";
$icon-icon_27: "\e930";

